.header {
    display: flex;
    align-items: center;
    padding: 0px 23px 0px 24px;

    width: 100%;
    min-height: 56px;

    border-radius: 0px 0px 32px 32px;
    background: #30363D;
    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.05);

    
    img {
        width: 56px !important;
        height: 47px !important;
    }

    z-index: 999;

    &__search {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 32px;
        margin-left: 25px;
        margin-right: 15px;

        border-radius: 12px;
        flex-shrink: 1;

        input {
            width: 100%;
            height: 32px;
            padding: 0px 15px 0px 40px;
            border-radius: 12px;

            font-family: 'Raleway-400';
            font-size: 12px;
            line-height: normal;
            color: #fff;

            &:focus {
                z-index: 1;
            }
        }

        &::before {
            content: url('../../../images/svg/search.svg');
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translate(0, -41%);
            pointer-events: none;
        }
    }
    &__user {
        display: flex;
        margin-left: 19px;
        img {
            width: 64px !important;
            height: 64px !important;
        }
        span {
            font-family: 'Raleway-700' !important;
            font-size: 16px !important;
            margin-bottom: 7px;
            margin-top: 4px;
        }
        a {
            font-family: 'Raleway-500' !important;
            font-size: 12px !important;
            margin-top: -11px;
        }
        & > span {
            display: flex;
            align-items: center;

            margin-left: -36px;
            margin-bottom: -19px;
            margin-right: 33px;

            color: rgba(255, 255, 255, 0.50);
            font-family: 'Raleway-600' !important;
            font-size: 12px !important;
            img {
                width: 16px !important;
                height: 16px !important;
            }

            div {
                margin-left: 4px;
                color: #fff !important;
                font-family: 'Raleway-600';
                span {
                    font-size: 12px !important;
                }
            }
        }
    }
}